body {
  background-color: #F0F4EF;
  text-align: center;
  font-family: 'Raleway', sans-serif; 
  color:#0B0033;
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 500;
  text-align: left;
}

h1{

  font-family: 'Send Flowers', 'Playfair Display', serif;
  font-size: 4vw;
  border-bottom: 10px solid #0B0033;
  color: #E6AACE;
  padding-bottom: 10px;
  text-align: center;
}

.title{
  font-size: 12vw;
  margin-bottom: 50px;
  color: #FC440F

}

.welcome{
  color: #E6AACE;
  padding-bottom: 9px;
  font-size: 7vw;
  font-family: 'Playfair Display', serif;
  text-align: center;
}


.block-text {
  margin-left: 10vw;
  margin-right: 10vw;
}



.article-container{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  align-items: center;
  background-color: #370031; 
  width: 100%;
}

.image-links{
  border: 4px solid #F0F4EF ;
  Height: 400px;
  Width: 400px;
  margin-top: 20px;
}

.caption{
  color: #F0F4EF;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  padding: 5px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 500px;
  text-align: center;
  text-decoration: none;
}

.footer{
  padding: 50px 0 50px;
  align-items: center;
}
